$px-only: false
@import 'util'

$highlight: #eeee00
$ground: #ffffff
$rule: 1px dotted rgba(0,0,0,0.15)
$normal: 'Roboto', sans-serif
$condensed: 'Roboto Condensed', sans-serif

*
  box-sizing: border-box
  outline: none

html
  font-size: 62.5%
  height: 100%

body
  margin: 0
  padding: 0
  font-size: r(1.4rem)
  font-family: $normal

input, select, textarea, button
  font-family: inherit

h4
  font-family: $condensed
  text-transform: uppercase
  font-weight: 400
  font-size: r(1.1rem)
  border-bottom: $rule

button
  border: none
  padding: r(0.5rem)
  border-radius: r(0.3rem)
  font-size: r(1.2rem)
  &:hover
    cursor: pointer
    opacity: 0.8
  &:disabled
    cursor: default
    background: #ddd
    &:hover
      opacity: 1

nav
  position: relative
  background: rgba(0,0,0,0.8)
  padding: r(0.5rem)
  text-align: right
.loading
  position: absolute
  top: r(1.5rem)
  left: r(1rem)
  color: #555
  color: rgba(255,255,255,0.2)  

aside
  float: left
  width: 25%
  font-family: $condensed
  ul
    padding: 0
    margin: 0
    list-style: none
    li:first-child
      border-top: none
  li   
    
  .swatch
    position: absolute
    display: block
    top: 0
    left: 0
    bottom: 0
    width: r(0.4rem)
  a
    padding: r(1rem 2rem 1rem 1.5rem)
    text-decoration: none
    display: block
    position: relative
    color: #333
    box-shadow: r(0 0.1rem 0 rgba(0,0,0,0.07))

    -webkit-transition: background-color 1s
    transition: background-color 1s

    &:hover
      background: rgba(255,255,255,0.5)
    &.active
      background: #ffffff
      box-shadow: none

section
  float: right
  width: 75%
  z-index: 1
  position: relative
  padding: r(4rem 2rem)

.project
  overflow: hidden
  padding: r(2rem 0)
  .project__title, h1
    float: left
    width: 80%
    font-weight: 100
    font-size: r(3.5rem)
    margin: 0
    border: 0
    padding: r(0.5rem 0)
    border-bottom: r(0.2rem solid transparent)
  .project__title
    border-bottom: r(0.2rem dotted #333)
  menu
    padding: r(1.6rem 0)

menu
  float: right
  text-align: right
  width: 15%
  margin: 0
  padding: 0

.page
  padding: r(2rem)
  height: 100%
  -webkit-transition: background-color 1s
  transition: background-color 1s

.content
  position: relative
  overflow: hidden
  min-width: r(50rem)
  max-width: r(90rem)
  min-height: r(60rem)
  margin: 0 auto
  background: rgba(255,255,255,0.8)
  box-shadow: r(0 1rem 9rem -2rem rgba(0,0,0,0.2)), r(0 3rem 2rem -2rem rgba(0,0,0,0.1))
  &:before
    content: ''
    display: block
    position: absolute
    z-index: 0
    left: 25%
    top: 0
    bottom: 0
    width: 75%
    background: $ground

.tasks
  a, textarea
    float: left
    width: 75%
  ul
    list-style: none
    padding: 0

.task
  overflow: hidden
  border-bottom: $rule
  line-height: r(3rem)
  padding: r(1rem 0)
  a
    display: block


.completed a
  text-decoration: line-through

.btn--new, .btn--save
  background: #45C08F
.btn--delete
  padding: r(0.7rem 0.5rem)
  border-radius: r(3rem)
  background: #D55157
.btn--edit
  padding: r(0.7rem 0.5rem)
  border-radius: r(3rem)
  background: #4661A2
[class^=btn--]
  color: #fff
  color: rgba(255,255,255,0.9)

.errors
  background: rgba(200,50,100,0.8)
  color:  #fff
  position: fixed
  top: 0
  left: 50%
  width: r(50rem)
  margin: r(0 0 0 -25rem)
  ul
    width: r(30rem)
  button
    position: absolute
    right: r(1rem)
    top: r(1rem)
    color:  #fff
    border: r(0.1rem solid #fff)
    background: transparent

